*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: 14px;
  margin: auto;
}
.big-container{
  margin: auto;
  display: grid;
  place-items: center;
}
img{
  width: 50%;
  margin: auto;
}
.image-div{
  display: flex;
  justify-content: center;
}
.card-container{
  display: grid;
  place-items: center;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  width: 70%;
}
.card{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: brown;
  padding: 1rem;
}
.card:hover{
  -webkit-box-shadow: 0px 0px 15px #1E90FF;
  -moz-box-shadow: 0px 0px 15px #1E90FF;
  box-shadow: 0px 0px 15px #1E90FF;
}
span{
  color: grey;
  font-size: 10px;
}
h3{
  font-size: 18px;
}

.opening-crawl{
  width: 100%;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  border-bottom: red solid 1px;
  margin-bottom: 1rem;
  padding-top: 1rem;
  line-height: 1.25rem;
}
a{
  color: yellow;
  font-size: 10px;
  text-decoration: none;
  width: 100%;
  padding: 0.3rem 0 0.5rem;
}
.button-two{
  border: none;
  outline: none;
  color: yellow;
  font-size: 18px;
  background-color: rgba(39, 39, 39, 0.9);
}
button:hover, a:hover{
  cursor: pointer;
  font-size: 16px;
}
.back{
  color: #A09D9E;
  background-color: rgba(45, 45, 45, 0.9);
  border: none;
  outline: none;
}
.middle-men{
  text-align: center;
  padding: 2rem 0;
}
.middle-men h1{
  padding-bottom: 0.8rem;
}
.middle-men p{
  font-size: 0.8rem;
}
.info-container{
  background-color: rgba(45, 45, 45, 0.9);
  width: 70%;
  padding: 1.5rem;
  border-radius: 1rem;
}
.info-container h2{
  font-weight: normal;
  color: #A09D9E;
  font-size: 2rem;
}
.info-container .info-crawl{
  border-bottom: 0.05rem #A09D9E solid;
  padding-bottom: 1.5rem;
}

@media screen and (max-width: 600px){
  .card-container{
    grid-template-columns: 100%;
    width: 100%;
  }
  .opening-crawl{
    -webkit-line-clamp: 6;
  }
  h3{
    font-size: 20px;
  }
}